<p>login works!</p>
<div class="alert alert-warning" *ngIf="message">{{ message }}</div>
<div class="form col-sm-10 form-group-lg">
    <form (ngSubmit)="login()" #customer="ngForm">
        <label>User ID</label>
        <input type="text" name="userId" class="form-control w-25" [(ngModel)]="userId">
        <label>Password</label>
        <input type="password" name="password" class="form-control w-25" [(ngModel)]="password">
        <p></p>
        <button  type="submit" class="btn btn-success">Log In</button>
    </form>
</div>
